<html>
<head>
  <title></title>
</head>
<body>

  <div id="tweetdeck">

    <% @accounts_with_tweets.each do |account| %>
      <% username = account.keys.first %>
      <% tweets = account[username] %>

      <div class="tweetdeck-column" style="width:240px; display: block; float: left;">
        <input type="text" name="search-term" class="search-term" placeholder="e.g. davemcginn_ie" value="<%= username %>">
        <input type="button" value="Search" name="submit-button" class="submit-button">

        <div class="loading-indicator" style="display:none;">
          <img src="http://i.stack.imgur.com/FhHRx.gif">
          <p>Getting tweets – sorry for the slowness!</p>
          <p>Make some coffee while you wait :-/</p>
        </div>

        <div class="tweets">
          <% tweets.each do |tweet| %>
            <%= tweet %>
          <% end %>
        </div>

      </div>
    <% end %>

  </div>

</body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script>
$(document).ready(function() {

  $('.submit-button').click(function() {

    var button = $(this);

    var loadingIndicator = button.next('.loading-indicator');
    var input = button.prev('.search-term');
    var tweets_box = button.next().next();

    var search_term = input.val();
    input.val('');
    tweets_box.empty();
    loadingIndicator.show();

    var tweets = getTweets(search_term, tweets_box);
  });

  function getTweets(search_term, tweets_box) {
    var search_url = "http://localhost:9393/get_tweets?user=" + search_term;

    $.ajax({
      url: search_url,
      success: function(data) {
        tweets_box.html(data);
      }
    });
  }

});

$(document).on({
  ajaxStart: function() { 
    console.log("Loading tweets...");
  },
  ajaxStop: function() { 
    console.log("Got tweets!"); 
    $('.loading-indicator').hide();
  }
});

</script>